* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: #353535;
    margin: 0;
    min-width: 400px;
}

em {
    font-weight: 700;
    font-style: normal;
}

#main {
    min-height: 100%;
    position: relative;
}

a:link, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

.inner-body {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0 3em 0 3em;
    max-width: 1200px;
}

.greyed {
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

#footer-spacer {
    padding-bottom: 50px;
}

#footer {
    height: 50px;
    color: #adadad;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

.section {
    padding: 1em 0;
    margin: 3em 0;
}

.section p {
    text-align: center;
}


.section::after {
    content: " ";
    white-space: pre;
    display: block;
    position: relative;
    margin: 3em auto 0 auto;
    height: 1px;
    width: 40%;
    border-bottom: 1px solid #ebebeb;
}

img.logo {
    max-height: 48px;
    vertical-align: middle;
    margin: 0 0.5em 0 0em;
}

#navbar {
    position: relative;
    width: 100%;
}

ul.navlist {
    display: inline-block; 
    margin: 0;
    padding: 0;
}

ul.navlist-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

ul.navlist a {
    display: inline-block;
}

ul.navlist li {
    vertical-align: middle;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: inline-block; 
    padding: 15px 1em;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    color: #4b4b4b;
}

ul.navlist li.logotext {
    padding-left: 0px;
}

ul.navlist li:hover {
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.center {
    text-align: center;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

div.tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0 0 0;
}

a.project {
    padding: 0 0.5em;
    width: 50%;
    overflow: hidden;
    display: block;
    margin: 0.5em 0;    
}

a.project p {
    text-align: left;
    margin: 0.3em 0;
}

.innerproject {
    color: #353535;
    height: 100%;
    padding: 1.4em;
    -webkit-transition: background-color .15s; /* Safari */
    transition: background-color .15s;
}

.project-text {
    display: table-cell;
}

img.project {
    float: right;
    margin-top: 2px;
    margin-left: 10px;
}

.projecttitle {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.projecttitle::after {
    content: " ";
    white-space: pre;
    display: block;
    height: 2px;
    width: 0%;
    border-bottom: 2px solid #f6ba00;
    text-align: center;
    padding-top: 0.1em;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
}

div.tiles a:hover .innerproject {
    color: #000;
    -webkit-transition: background-color .15s; /* Safari */
    transition: background-color .15s;
}


div.tiles a.project:hover .projecttitle::after {
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    width: 20%;
}

img.banner {
    width: 100%;
}

p.about {
    font-size: 1.3em;
    line-height: 140%;
    text-align: left;
}

ul#people {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    list-style: none;
}

a.personbox {
    height: 100%;
    display: block;
    width: 150px;
}

ul#people li {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

img.person {
    border-radius: 50%;
    border: 10px solid #f6b90000;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
    width: 138px;
    height: 138px;
    object-fit: scale-down;
}

a.personbox:hover img.person {
    border-color: #f6ba00;
    -webkit-transition: .15s; /* Safari */
    transition: .15s;
}

.post p {
    text-align: left;
}

.post a {
    color: #0e47b1;
}

.post-sidebar {
    padding: 0 1em;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.post-main {
    padding: 0 1em;
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

blockquote.me {
    font-size: 18px;
    border-left: 10px solid #e7e7e7;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote.me:before {
    color: #e7e7e7;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote.me p {
    display: inline;
}

.link-title {
    color: #4b4b4b;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2em;
}

ul.me-links {
    padding: 0.5em 0 0 0;
}

ul.me-links > li {
    list-style: none;
    padding: 0.4em 0 1.4em 0;
}

ul.contact {
    list-style: none;
    font-weight: 700;
}

ul.interests {
    padding: 0 0 1em 0;
}

ul.interests li {
    list-style: none;
    margin: 0.4em 0;
}

i.email-color { color: #ffa930 }
i.twitter-color { color: #1da1f2 }
i.github-color { color: #333 }
i.scholar-color { color: #4285f4 }
i.link-color { color: #00ca54 }
i.arrow-color { color: #e7e7e7 }


@media screen and (max-width: 640px) {

    a.project {
        width: 100%;
    }

    .inner-body {
        padding: 0 1em 0 1em;
    }

    ul.navlist {
        padding-left: 0;
    }

    .post-sidebar, .post-main {
        display: block;
        width: 100%;
    }

}