<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Immersive Cognition (ICON) Lab Group - University of Leeds - Projects Homepage ">

    <title>{% if title %}{{title}} - {% endif %}Immersive Cognition GitHub Landing Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Work+Sans:400" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div id="main">
        <div class="greyed">
            <div class="inner-body">
                <div id="navbar">
                    <ul class="navlist">
                        <a href="/">
                            <img class="logo" src="{{url_for('static', filename='sugarcube.png')}}" />
                            <li class="logotext">Immersive Cognition</li>
                        </a>
                        <a href="/projects">
                            <li>Projects</li>
                        </a>
                        <a href="/people">
                            <li>People</li>
                        </a>
                        <a href="/contact">
                            <li>Contact</li>
                        </a>
                    </ul>

                    <ul class="navlist navlist-right">
                        <a href="https://twitter.com/ICON_UoL">
                            <li><i class="fab fa-twitter twitter-color"></i></li>
                        </a>
                        <a href="http://github.com/immersivecognition">
                            <li><i class="fab fa-github github-color"></i></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inner-body footer-spacer">
            <div id="content">
                {% block content %} {% endblock %}
            </div>

            <div id="footer">
                Copyright Immersive Cognition 2019
            </div>
        </div>
    </div>
</body>

</html>