<h1 class="center">Projects</h1>
<div class="tiles">
    {% for project in projects %}
    <a class="project" href="{{ project.href }}">
        <div class="innerproject">
            {% if project.metadata.image %}
            <img class="project" width=100 height=100 src="{{ url_for('static', filename='project-images/' + project.metadata.image) }}" />
            {% else %}
            <img class="project" width=100 height=100 src="{{ url_for('static', filename='project-images/default.png') }}" />
            {% endif %}
            <div class="project-text">
                <div class="projecttitle">{{ project.metadata.name }}</div>
                <p>{{ project.metadata.description }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>